<!-- views/partials/navbar.ejs -->
<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="nav-link"><a href="/">Home</a></li>
    <li class="nav-link"><a href="/about">About</a></li>
    <li class="nav-link"><a href="/data">Data</a></li>
    <li class="nav-link disabled"><a href="#">Press</a></li>
  </ul>
  <h3 class="text-muted">CapableStudent.com</h3>
</div>
