<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('partials/head') %>
  </head>

  <body>
    <div class="container">

      <div class="header">
        <%- include('partials/navbar') %>
      </div>

      <main>
      <div class="row">
        <div class="jumbotron">
	  <h1>About...</h1>
	  <p>All about me...</p>
	</div>
      </div>
      </main>

      <div class="footer">
        <%- include('partials/footer') %>
      </div>
      
  </body>
</html>
